* {
  margin: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header > h2{
  font-size: 22px;
}

.app__dropdown{
  background-color: white;
}

.app__stats{
  display: flex;
  justify-content: space-evenly;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.app__left{
  flex: 0.9;
}

.app__right{
  display: flex;
  flex-direction: column;
}

.app__graph{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}


@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}